<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/editprofile.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<!-- Navigation bar -->
	<nav>
		<span th:text="${session.username}"></span> 
		<a href="/goHome"><i class="fas fa-home"></i> News feed</a> 
		<a href="/openNewPost"><i class="fas fa-plus-circle"></i> Create post</a>
		<a href="/openMyProfile"><i class="fas fa-user-circle"></i> My profile</a> 
		<a href="/searchUser"><i class="fas fa-search"></i> Search</a> 
		<a href="/logout"><i class="fas fa-sign-out-alt"></i> LOG OUT</a>
	</nav>
	<div class="edit-profile">
		<div class="edit-card">
					<div class="profile-header">
				<div class="profile-picture">
					<img th:if="${user.photoBase64}"
						th:src="'data:image/jpeg;base64,' + ${user.photoBase64}"
						alt="Profile Photo" />
				</div>
				<div class="username">
					<h1 th:text="${user.username}"></h1>
				</div>
			</div>
				<form action="/updateProfile" method="post"
					enctype="multipart/form-data">
					<label for="dob">Date of Birth: <span
						th:text="${user.dob != null ? '' : 'Please add your date of birth'}"></span></label>
					<input type="date" name="dob"
						th:attr="value=${user.dob != null ? user.dob : ''}"> <br>
					<div class="gender-container">
						<label class="gender-label">MALE</label><input type="radio"
							name="gender" value="M" th:checked="${user.gender == 'M'}">
						<label class="gender-label">FEMALE</label><input type="radio"
							name="gender" value="F" th:checked="${user.gender == 'F'}">
						<label class="gender-label">OTHER</label><input type="radio"
							name="gender" value="O" th:checked="${user.gender == 'O'}">
					</div>
					<input type="text" name="city"
						th:attr="value=${user.city != null ? user.city : 'Add city'}">
					<br> <input type="text" name="bio"
						th:attr="value=${user.bio != null ? user.bio : 'Add bio'}">
					<br> <input type="text" name="college"
						th:attr="value=${user.college != null ? user.college : 'Add college'}">
					<br> <input type="text" name="linkedIn"
						th:attr="value=${user.linkedIn != null ? user.linkedIn : 'Add LinkedIn url'}">
					<br> <input type="text" name="gitHub"
						th:attr="value=${user.gitHub != null ? user.gitHub : 'Add GitHub url'}">

					<br> <label for="profilePic">Profile Picture:</label> <input
						type="file" name="profilePic" accept="image/*"
						placeholder="Chose your profile"> <input type="submit"
						value="Update Profile">
				</form>
			</div>
	</div>
</body>
</html>