<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Create account on KodBook</h1>
	<hr>
<form action="/signUp" method="post">
<label>USERNAME :</label>
	<input type="text" name="username" >
	<br><br>
<label>EMAIL :</label>
	<input type="email" name="email" >
	<br><br>
	<label>PASSWORD :</label>
	<input type="password" name="password" >
	<br><br>
<label>DOB :</label>
	<input type="date" name="dob" >
	<br><br>
<label>Gender :</label>
	<label>Male</label><input type="radio" name="gender" value="M" >
	<label>Female</label><input type="radio" name="gender" value="F" >
	<label>Others</label><input type="radio" name="gender" value="O" >
	<br><br>
	<input type="submit" value="SIGN UP">
	<hr>
	<a href="/">Already have account? Login instead</a>	
</form>
</body>
</html>